---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../utils";

const blogEntries = await getCollection("blog");
---

<Layout
	title="Blog"
	description="Here are all the blogs I've written. Including, but not limited to, helpful guides, random rants and more random bullshittery."
>
	<nav>
		<ol class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
			{
				blogEntries.map((entry) => (
					<li class="bg-stone-200 dark:bg-stone-900 p-4 rounded-md">
						<a class="flex flex-col gap-4" href={`/blog/${entry.slug}`}>
							<h2 class="text-2xl font-semibold line-clamp-2 min-h-16">
								{entry.data.title}
							</h2>
							<div>
								{entry.data.image && (
									<img
										class="rounded-md mb-2"
										width="1280"
										height="720"
										src={entry.data.image}
										alt={entry.data.title}
									/>
								)}
								<div class="flex justify-between  font-semibold">
									{entry.data.tags && (
										<div class="flex gap-2">
											{entry.data.tags.map((tag) => (
												<span>#{tag}</span>
											))}
										</div>
									)}
									<p>Posted on: {formatDate(entry.data.publishedAt)}</p>
								</div>
							</div>
						</a>
					</li>
				))
			}
		</ol>
	</nav>
</Layout>
