---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
export const getStaticPaths = (async () => {
	const entries = await getCollection("blog");
	return entries.map((entry) => ({
		params: {
			slug: entry.slug,
		},
		props: {
			entry,
		},
	}));
}) satisfies GetStaticPaths;

const { entry } = Astro.props;

const { Content } = await entry.render();
---

<Layout title={entry.data.title} description={entry.data.description} tags={entry.data.tags}>
	<article class="prose prose-neutral dark:prose-invert mx-auto">
		<h1>{entry.data.title}</h1>
		<p>{entry.data.description}</p>
		{entry.data.tags.length > 0 && entry.data.tags.forEach((tag) => <span>{tag}</span>)}
		<Content />
	</article>
</Layout>
