---
interface Props {
	title?: string;
	description?: string;
	tags?: string[];
	image?: string | undefined;
}

const { title, description, tags, image } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="color-scheme" content="dark light" />
		{tags && <meta name="keywords" content={tags.join(", ")} />}
		{image && <meta property="og:image" content={image} />}
	</head>

	<body class="text-stone-950 dark:text-stone-50">
		<header
			class="sticky top-0 h-20 flex items-center justify-center bg-stone-100 dark:bg-stone-900"
		>
			<nav class="px-1 max-w-7xl flex gap-2 items-center flex-1 font-semibold">
				<a class="p-3 text-lg" href="/">Hugo Korte</a>
				<a class="p-3 ml-auto" href="/blog">Blog</a>
				<a class="p-3" href="/work">Work</a>
			</nav>
		</header>
		<main class="px-4 py-16 max-w-7xl mx-auto min-h-[calc(100dvh-5rem)] flex flex-col gap-8">
			<slot name="header">
				<header class="prose prose-stone dark:prose-invert">
					<h1>{title}</h1>
					<p>{description}</p>
				</header>
			</slot>
			<div>
				<slot />
			</div>
		</main>
		<footer class="bg-stone-100 dark:bg-stone-900">
			<div class="max-w-7xl mx-auto px-4 py-32">
				<p>
					© 2023-{new Date().getFullYear()} Hugo Korte. All rights reserved.
				</p>
			</div>
		</footer>
		<style is:global>
			body {
				background-color: #fafaf9;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f5f5f4' fill-opacity='1'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
			}
			@media (prefers-color-scheme: dark) {
				body {
					background-color: #0c0a09;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%231c1917' fill-opacity='0.25'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				}

				.astro-code,
				.astro-code span {
					color: var(--shiki-dark) !important;
					background-color: var(--shiki-dark-bg) !important;
					/* Optional, if you also want font styles */
					font-style: var(--shiki-dark-font-style) !important;
					font-weight: var(--shiki-dark-font-weight) !important;
					text-decoration: var(--shiki-dark-text-decoration) !important;
				}
			}
		</style>
	</body>
</html>
